*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body{
  font-family: sans-serif;
  user-select: none;
  background: linear-gradient(45deg,#5a5a5a,#192435);
}
nav .logo{
  color: white;
  font-size: 33px;
  font-weight: bold;
  line-height: 70px;
  padding-left: 50px;
}
nav{
  height: 70px;
  background: #00adb5;
  box-shadow: 0 3px 15px rgba(0,0,0,.4);
}
nav ul{
  float: right;
  margin-right: 30px;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  color: white;
  display: block;
  padding: 0 15px;
  line-height: 70px;
  font-size: 20px;
  background: #00adb5;
  transition: .5s;
}
nav ul li a:hover,
nav ul li a.active{
  color: #5a5a5a;;
}
nav ul ul{
  position: absolute;
  top: 85px;
  border-top: 3px solid #5a5a5a;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: .3s linear;
}
nav ul ul li{
  width: 150px;
  display: list-item;
  position: relative;
  border: 1px solid #042331;
  border-top: none;
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul{
  border-top: none;
}
nav ul ul ul li{
  position: relative;
  top: -70px;
  left: 150px;
}
nav ul ul li a i{
  margin-left: 45px;
}
/*media query*/
@media only screen and (max-width: 768px) {
 header{
       width: 90%;
   }

}